body {
    min-height: 100vh;
    background-image: url("./background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

#banner {
    color: white;
    border: 2px solid blue;
}

#forecastbox {
    display: flex;
    margin: auto;
    width: 75%;
    border: 2px solid white;
    color: white;
}

.forecast-display {
    border:2px solid red;
}